@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* ESTILOS GENERALES */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}
main {
  flex-grow: 1;
  margin-top: 58px;
}


/* Sugerencia para incluir en estilos generales: textos del color del logo*/
.textoFlow{
  color:#00bc7dfc
}
.textoBlanco{
  color: #f6f8f7b6
}

/* CARDS contenedores de Peliculas */

.fondoTransparenteCard img {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.503);
  padding: 0;
}

.fondoTransparenteCard :hover {
  filter: brightness(140%);
}

.colorTextoCard:hover {
  color: #129797b6;
}

.colorTextoCard {
  color: #f6f8f7b6;

  font-size: large;
  border-radius: 10px;
}

/* Sombra Redondeada Para banners y containers*/
.sombraRedondeada {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.503);
  padding: 0;
 
}

/* BARRA DE NAVEGACION  (NAVBAR) */

/* Logo FLIXADA Con gradientes*/
.logoFlixada {
  font-family: "Righteous", cursive;
  font-size: 72px;
  background: -webkit-linear-gradient(#00ffd5, #1e9672, #04ffd5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colorDeFlow {
  color: #57dfb7;
}

.letraLogoPrincipal {
  font-family: "Righteous", cursive;
}

.logoFlixadaDelFooter {
  font-family: "Righteous", cursive;
  font-size: 35px;
}

/* Color de los links activos  */

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #57dfb7;
}

input[type="text"]:focus,
textarea:focus {
  color: #ffffff;
}

/* Display de Formularios del NAVBAR para que se vea bien en SMALL*/

.formBuscar {
  align-self: center;
}

.form-control {
  color: #ffffff;
}

.formBuscar1 {
  display: none;
}

.page-link {
  background-color: #74ebd5;
}


/* Para DETALLE pelicula y serie */

.botonCentrado {
 
top: 50%;
left: 0;
right: 0;
bottom: 0;
margin: auto;

}

.listaDetalle{
  list-style: none;
}

.botonReproducir{
  font-size: small;
  color: #00ffd5;
}
.efectoReproducir:hover{
  color: #00ffd5;
}
.imgFleabag{
  width: 2000px;
}
.imgTheThing{
  width: 2000px;
}
.tituloEpisodios{
  font-size: 15px;
  font-weight: 400;
}
.tituloEpisodio{
  font-size: 15px;
  font-weight: 600;
}
.textoEpisodio{
  font-size: 18px;
}
.botonVerEpisodio{
  font-size: large;
  color: #00ffd5;
}

/* FOOTER */

.bg-footer {
  background-color: #74ebd5;
  background: -webkit-linear-gradient(#00bc7dfc, #57dfb7, #3b9fb5e5);
}

.textoFooter {
  font-size: medium;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: rgb(3, 3, 3);
}

.inconosRedesSociales a {
  color: #243532;
}

.inconosRedesSociales a:hover {
  color: #009499;
}

.text-dark {
  font-weight: bolder;
}

/* Estilos propios de la PAGINA DE LOGIN login.html */
.formLogin {
  align-self: center;
  width: 400px;
  
  margin-bottom: 10%;
}

input[type="email"]:focus,
textarea:focus {
  color: #ffffff;
}
input[type="password"]:focus,
textarea:focus {
  color: #ffffff;
}

textarea[type="text"]:focus,
textarea:focus {
  color: #ffffff;
}

.bgHeaderFormLogin {
  border: #00ffff29 solid 1px;
}

/* ESTILOS DE LA PAGINA SUSCRIPCION.html*/

.form-select-sm {
  width:min-content
}





.cardPrecioSuscripcion {
  max-width: 18rem;

  border-radius: 10%;
  height: 25rem;
  border: #00ffff29 solid  1px;
 margin-right: 5px;
 margin-left: 5px;

 background-color: #74ebd5;
  background: -webkit-linear-gradient(#10df9acd, #028041cf, #3b9fb5e5);

/*
 background-image: url(/img/fondo-card-pricing.jpg) ; */
 
}

.cardPrecioSuscripcion:hover {

  filter: brightness(1.1);
  
}


/* ESTILOS RESPONSIVOS (MEDIA QUERYs) */

/* Dispositivos SMALL */

@media all and (max-width: 576px) {
  /* Estilos generales*/

  main {
    margin-top: 45px;
  }

  /* Navbar */
  nav .navFija {
    position: relative;
  }
  /* Formularios Responsivos SMALL*/
  .formBuscar1 {
    display: block;
  }
  .formBuscar2 {
    display: none;
  }

  .formLogin {
    align-self: center;
    width: 100%;

    padding-top: 18px;
    margin-bottom: 10%px;
  }
  /*Cards Responsivas */
  /* letras card*/
  .colorTextoCard {
    font-size: medium;
      }
}

/* Dispositivos MEDIUM (TABLETS) */

@media all and (min-width: 577px) and (max-width: 991px) {
  /* Estilos generales*/
  main {
    padding-top: 55px;
  }

  /* Formularios Responsivos TABLETS */
  .formBuscar1 {
    display: block;
  }
  .formBuscar2 {
    display: none;
  }

  .formLogin {
    margin-top: auto;
    align-self: center;
    width: 50%;
        margin-bottom: 10%;
  }

  


  /* Letra de las cards de peliculas */ 
  .colorTextoCard {
    
  
    font-size: large;
    
  }
}

/* Dispositivos Large en adelante PC, TV, etc */

@media all and (min-width: 992x) {
 
}
